<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/header :: header('Your Post')"></div>
<body>
<div th:replace="partials/navbar::navbar"></div>


<div class="container">

    <!--this is a form to create new posts-->
    <form th:action="@{/posts/create}" method="post" th:object="${post}">
        <label for="title">title</label>
        <input type="text" name="title" id="title" th:field="*{title}"/>
        <br />
        <label for="body">Body</label>
        <input type="text" name="body" id="body" th:field="*{body}"/>
        <br />
        <input type="submit" />
    </form>
    <div th:replace="posts/documents :: uploader"></div>
</div>





<div th:replace="partials/footer :: footer"></div>
</body>
</html>