<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand">Company Logo</a>
    <button class="btn btn-secondary navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">logout</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link " href="/sign-up">register</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="#">
            <label for="input"/>
            <input class="form-control w-2" type="search" placeholder="Search" id="input" name="input" />
            <button class="btn btn-outline-success my-2 my-sm-0 ml-4 text-center" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>






